'exception-reporting':
  'userId': 'c535f397-6eaa-d0f7-2579-25fb6af5a3d2'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '7e382322dd492646bd70776c072ec78fe53c7bb5'
'editor':
  'fontSize': 12
  'fontFamily': 'Source Code Pro for Powerline'
  'softWrapAtPreferredLineLength': true
'core':
  'themes': [
    'spacegray-light-ui'
    'spacegray-light-syntax'
  ]
  'disabledPackages': [
    'language-ruby-on-rails'
    'language-go'
    'language-objective-c'
    'language-perl'
    'language-php'
    'language-sql'
    'styleguide'
    'welcome'
    'language-property-list'
    'language-make'
    'language-c'
    'term'
    'language-emblem'
    'terminal'
    'autoclose-html'
    'background-tips'
    'coffee-lint'
    'deprecation-cop'
    'feedback'
    'language-java'
    'language-python'
    'language-source'
    'language-xml'
    'metrics'
    'package-generator'
    'timecop'
    'autoflow'
    'autosave'
  ]
  'useReactEditor': true
  'projectHome': '~/projects'
'tree-view':
  'hideVcsIgnoredFiles': true
  'showOnRightSide': true
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
'whitespace':
  'ensureSingleTrailingNewline': true
'markdown-preview': {}
'autoclose-html':
  'closeOnEndOfOpeningTag': true
  'forceBlock': 'script'
'coffee-lint': {}
'git-plus': {}
'autosave': {}
'grammar-selector':
  'showOnRightSideOfStatusBar': true
'package-generator':
  'createInDevMode': true
