'exception-reporting':
  'userId': 'c535f397-6eaa-d0f7-2579-25fb6af5a3d2'
'release-notes':
  'viewedVersion': '0.75.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '7e382322dd492646bd70776c072ec78fe53c7bb5'
'editor':
  'fontSize': 12
  'fontFamily': 'Source Code Pro for Powerline'
'core':
  'themes': [
    'spacegray-eighties-ui'
    'base16-tomorrow-dark-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'language-ruby-on-rails'
    'language-go'
    'language-objective-c'
    'language-perl'
    'language-php'
    'language-sql'
    'term'
    'styleguide'
    'welcome'
    'language-property-list'
    'language-make'
    'language-c'
  ]
'tree-view': {}
'autocomplete-plus':
  'liveCompletion': true
  'includeCompletionsFromAllBuffers': true
'whitespace':
  'ensureSingleTrailingNewline': false
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
