'.platform-darwin':
  '; r e l': 'window:reload'
  '; space': 'core:cancel'
  '; g': 'git-plus:menu'
  '; shift-t': 'window:run-package-specs'
  '; /': 'editor:toggle-line-comments'
  '; t': 'tree-view:toggle'
  'cmd-b': 'hyperclick:confirm-cursor'
  '; c': 'cider:comment'


# vim
'atom-workspace:not(.has-narrow) atom-text-editor.vim-mode-plus.normal-mode':
  ':': 'command-palette:toggle'
  ':': 'command-palette:toggle'
'.vim-mode-plus:not([mini])':
  # exit
  '; space': 'vim-mode-plus:activate-normal-mode'

# autocomplete-plus
'atom-text-editor:not(.mini).autocomplete-active':
  '; j': 'core:move-down'
  '; k': 'core:move-up'
