'.platform-darwin':
  '; space': 'core:cancel'
  '; a': 'command-palette:toggle'
  '; g': 'git-plus:menu'
  '; shift-t': 'window:run-package-specs'

# vim
'.vim-mode-plus:not(.mini)':
  # panel maneuvering
  '; h': 'window:focus-pane-on-left'
  '; k': 'window:focus-pane-above'
  '; j': 'window:focus-pane-below'
  '; l': 'window:focus-pane-on-right'
  # exit
  '; space': 'vim-mode-plus:activate-normal-mode'

# autocomplete-plus
'atom-text-editor:not(.mini).autocomplete-active':
  '; j': 'core:move-down'
  '; k': 'core:move-up'
